sudo: required
dist: trusty
language: node_js
node_js:
  - "5"
  - "5.1"
  - "4"
  - "4.2"
  - "4.1"
  - "4.0"
  - "0.12"
  - "0.11"
  - "0.10"
before_script:
   - ./build/start-server.sh
script:
   - make ci
after_script:
   - ./build/stop-server.sh
notifications:
  irc: "chat.freenode.net#brass-monkey"

