*.swp
*.swo
*.log
*.orig
*.tmp
node_modules/
keycloak-*
!keycloak-*.json
!keycloak-connect-rest-mixed-client-spec.js
!keycloak-connect-test.js
!keycloak-object-test.js
!keycloak-fixture.json
coverage
pid.txt
.idea/
tmp/
