language: node_js
node_js:
  - "5"
  - "5.1"
  - "4"
  - "4.2"
  - "4.1"
  - "4.0"
  - "0.12"
  - "0.11"
  - "0.10"
  - "iojs"

branches:
  only:
    - master

install:
  - npm install
before_script:
   - ./build/start-server.sh
script: make
after_script:
   - ./build/stop-server.sh