name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
env:
  DEFAULT_NODE_VERSION: "16"
jobs:
  setup:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: ["14", "16"]
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          check-latest: true
          cache: npm

      - name: Cache Node modules
        id: cache-node-modules
        uses: actions/cache@v3
        with:
          path: node_modules
          key: ${{ matrix.node-version }}-${{ hashFiles('**/package-lock.json') }}

      - name: Install dependencies
        if: steps.cache-node-modules.outputs.cache-hit != 'true'
        run: npm ci

      # TODO: Split the linting into a separate job.
      - name: Run lint task
        # Only run this step for the default Node version.
        if: matrix.node-version == env.DEFAULT_NODE_VERSION
        run: npm run lint

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 21

      - name: Start Keycloak server
        run: npm run server:start &

      - name: Wait for Keycloak server
        run: ./scripts/wait-for-server.sh

      - name: Run tests
        run: ./run-tests.sh
